<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas</title>
</head>
<body>
    <p>Olá mundo!</p>
    <h2>Lista de Alunos abaixo da frequencia</h2>
    <ul>
        {% for aluno in alunos %}
            {% if aluno.alu_frequencia < 75 %}
                <li><p>{{ aluno.alu_nome }} - Frequência: {{ aluno.alu_frequencia }}%</p></li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>